node_modules/
.expo/
.expo-shared/
.vscode
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
constants.js
firebase.js
google-services.json
app.json
TODOS.txt
.env.local

# macOS
.DS_Store
